@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bungee&family=Comfortaa:wght@300..700&family=Dancing+Script:wght@400..700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=News+Cycle:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* background-color: rgb(179, 179, 179); */
}

.nav{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    height: 100px;
    align-items: center;
    background-color: whitesmoke;
}
.logo{
    padding: 20px;
    font-size: 35px;
}
.logo h3::first-letter{
    color: rgb(24, 57, 243);
}
.search input{
    width: 300px;
    height: 30px;
    border-radius: 12px;
}
.navButtons{
    padding: 30px;
}
.navButtons a{
    margin: 0 10px;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    border: 1px solid black;
    height: 500px;
    background-color: rgb(24, 57, 243);
}
.right img{
    border-radius: 12px;
}
.left{
    color: white;
}
.left h1{
    font-size: 80px;
    margin-bottom: 30px;
}
.left h3{
    font-size: 20px;
}
.left button{
    font-size: 20px;
    padding: 14px;
    border-radius: 8px;
    border: none;
    margin-top: 30px;
    width: 205px;
}
.productsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 20px;
    padding: 20px;
}

.productCard {
    text-decoration: none;
    color: black;
}

.card {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    border-radius: 10px;
}

.info h3 {
    font-size: 18px;
}

.info p {
    font-size: 14px;
    color: gray;
}
/* products page  */

.productHero{
    display: flex;
    height: 100vh;
}
.filter{
    /* border: 1px solid black; */
    width: 200px;
    height: 100;
    text-align: center;
    margin: 10px 0;
}
.filter li{
    margin: 15px 0;
}
.productContainer{
    /* display: flex; */
}

.mainCard{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px;
    /* border: 0.2px solid rgb(135, 135, 135); */
    gap: 20px;
    transition: transform 0.2s;
    padding: 40px 0;
}
 .mainCard:hover {
    transform: scale(1.05);
}

a{
    text-decoration: none;
    color: black    ;
}
.productHr{
    color: whitesmoke;
}

/* product details  */

.prodDetails{
    display: flex;
    align-items: flex-start;
    height: 80vh;
    border: 1px solid black;
    padding: 80px;
    gap: 40px;
}
.prodDetails h1{
    margin-bottom: 10px;
}
.detSec{
    width: 800px;
}
.buySec{
    background-color: whitesmoke;
    padding: 25px;
    height: 200px;
    border-radius: 8px;
    width: 180px;
    text-align: center;
}
.buySec p{
    margin-bottom: 15px;
}
.buyBtn{
    padding: 8px;
    background-color: rgb(24, 57, 243); 
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 15px;
}
.bargainBtn{
    background-color: red;
    color: white;
    padding: 5px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
}
.bargainBtn a{
    color: white;
}
.detSec, .buySec{
    margin-top: 100px;
}
/* checkout  */
.checkout{
    margin-top:150px ;

}
.orders{
    text-align: center;
    
}
.bargain{
 padding: 50px;
}
.bargain h2{
    margin-bottom: 10px;
}
.bargainProcess{
    text-align: center;
    margin-top: 250px;
    font-size: 35px;
}
hr{
    margin: 15px 0;
}
